@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    background: linear-gradient(180deg, #b291e1, #5f27ae);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1420px;
}

.page_container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 130px;
    width: 100%;
    max-width: 90%;
    padding: 0 25px 0 25px;
    height: 84px;
    margin: 54px 183px 0 183px;
    border-radius: 30px;
    font-size: 30px;
    color: #ffff;
    text-decoration: none;
    background-color: rgba(95.47, 39.21, 174.25, 0.30);
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.3);
}

/* default nav */
.nav_link {
    text-decoration: none;
    color: #EEEEEE;
    background-color: none;
    transition: 0.3s color;
    transition-delay: 0;
}

/* for active nav */
.nav_link.active {
    text-decoration: underline #b291e1;
    color: #b291e1;
}


.navbar :hover {
    text-decoration: underline #b291e1;
    color: #b291e1;
    transition-delay: 0.3ms;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: -10px;
    height: 100%;
    width: 250px;
    border-radius: 15px;
    background-color: rgba(95.47, 39.21, 174.25, 1);
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.3);
    flex-direction: column;
    gap: 20px;
    color: #EEEEEE;
    font-size: 20px;
    z-index: 1;
}

.sidebar a {
    display: none;
    padding: 20px 25px;
    margin-top: 20px;
    text-decoration: none;
    color: #EEEEEE;
}

.sidebar a:hover {
    color: #b291e1;
    text-decoration: underline #b291e1;
}

.hamburger {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: snone;
    border: none;
    color: #EEEEEE;
    font-size: 50px;
    cursor: pointer;
    z-index: 2;
}

.section {
    display: none;
}

.section.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
}

.section h1 {
    display: block;
    margin-top: 94px;
    font-size: 80px;
    color: #EEEEEE;
}

.input_parent {
    display: flex;
    flex-direction: row;
    margin-top: 52px;
    gap: 43px;
}

.input_parent input {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    height: 78px;
    padding: 10px 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-align: left;
    background-color: #b291e1;
    color: rgba(224, 224, 224, 0.6);
    font-size: 30px;
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.1);
}

.input_parent input::placeholder {
    text-align: left;
    color: rgba(224, 224, 224, 0.6);
    font-size: 30px;
    font-style: italic;
}

.input_parent button {
    display: block;
    width: 50%;
    border: none;
    outline: none;
    background-color: #b291e1;
    color: #EEEEEE;
    font-size: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.1);
}

@media (max-width: 1012px) {
    .navbar {
        font-size: 20px;
    }
}

@media (max-width: 860px) {
    .navbar {
        display: none;
    }
    .navbar a {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .sidebar a {
        display: flex;
    }
}




