@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    background: linear-gradient(180deg, #b291e1, #5f27ae);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1420px;
}

.page_container {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 130px;
    width: 100%;
    max-width: 90%;
    padding: 0 25px 0 25px;
    height: 84px;
    margin: 54px 183px 0 183px;
    border-radius: 30px;
    font-size: 30px;
    color: #ffff;
    text-decoration: none;
    background-color: rgba(95.47, 39.21, 174.25, 0.30);
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.3);
}

/* default nav */
.nav_link {
    text-decoration: none;
    color: #EEEEEE;
    background-color: none;
    transition: 0.3s color;
    transition-delay: 0;
}

/* for active nav */
.nav_link.active {
    text-decoration: underline #b291e1;
    color: #b291e1;
}


.navbar :hover {
    text-decoration: underline #b291e1;
    color: #b291e1;
    transition-delay: 0.3ms;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: -10px;
    height: 100%;
    width: 250px;
    border-radius: 15px;
    background-color: rgba(95.47, 39.21, 174.25, 1);
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.3);
    flex-direction: column;
    gap: 20px;
    color: #EEEEEE;
    font-size: 20px;
    z-index: 1;
}

.sidebar a {
    display: none;
    padding: 20px 25px;
    margin-top: 20px;
    text-decoration: none;
    color: #EEEEEE;
}

.sidebar a:hover {
    color: #b291e1;
    text-decoration: underline #b291e1;
}

.hamburger {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #EEEEEE;
    font-size: 50px;
    cursor: pointer;
    z-index: 2;
}

.section {
    display: none;
}

.section.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
}

.section h1 {
    display: block;
    margin-top: 94px;
    font-size: 80px;
    color: #EEEEEE;
}

.input_parent {
    display: flex;
    flex-direction: row;
    margin-top: 52px;
    gap: 43px;
}

.input_parent input {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    height: 78px;
    padding: 10px 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-align: left;
    background-color: #b291e1;
    color: rgba(224, 224, 224, 0.6);
    font-size: 30px;
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.1);
}

.input_parent input::placeholder {
    text-align: left;
    color: rgba(224, 224, 224, 0.6);
    font-size: 30px;
    font-style: italic;
}

.input_parent button {
    display: block;
    width: 50%;
    border: none;
    outline: none;
    background-color: #b291e1;
    color: #EEEEEE;
    font-size: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.1);
    cursor: pointer;
}

.timer_parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer_child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 676px;
    height: 209px;
    margin-top: 94px;
    font-size: 90px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px;
    background-color: #b291e1;
    color: #EEEEEE;
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.1);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 25px;
    width: 444px;
    height: 88px;
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
}

#start {
    margin-top: 94px;
    background-color: #36bb7d;
    color: #EEEEEE;
    box-shadow: 0px 4px 50px rgba(54, 187, 125, 0.8);
}

#stop {
    margin-top: 94px;
    background-color: #e14b4b;
    color: #EEEEEE;
    box-shadow: 0px 4px 50px rgba(225, 75, 75, 0.8);
}

#settings {
    margin-top: 38px;
    background-color: #5f27ae;
    color: #EEEEEE;
    box-shadow: 0px 0px 30px rgba(95, 39, 174, 0.1);
}

.about_parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc {
    width: 1133px;
    font-weight: 500;
    color: #EEEEEE;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    margin-top: 79px;
}

.task_parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 94px;
}

.task_child {
    display: flexbox;
    justify-content: left;
    flex-direction: row;
    position: relative;
    width: 1140px;
    min-height: 98px;
    background-color: #b291e1;
    color: #EEEEEE;
    padding-left: 54px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-shadow: 0px 4px 30px rgba(95, 39, 174, 0.3);
    margin-bottom: 62px;
    border-radius: 15px;
    font-size: 40px;
    transition: background-color 0.3s ease;
}

.task_child span {
    display: inline-block;
    word-break: break-word;
    max-width: 850px;
}

.task_child input[type="checkbox"] {
    position: absolute;
    right: 185px;
    top: 30px;
    width: 51px;
    height: 51px;
    cursor: pointer;
}

.task_child button {
    position: absolute;
    right: 49px;
    top: 30px;
    width: 117px;
    height: 51px;
    padding: 10px;
    align-items: center;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 15px;
    background-color: #e14b4b;
    color: #EEEEEE;
    cursor: pointer;
}


.settings_parent {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; 
}

.settings_child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 908px;
    height: 828px;
    border-radius: 30px;
    background-color: #ffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.settings_child span {
    display: inline-block;
    margin-bottom: 132px;
    font-size: 90px;
    font-weight: 500;
    color: #5f27ae;
}

#inputTime {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 438px;
    height: 116px;
    padding: 10px;
    border-radius: 25px;
    font-size: 50px;
    font-weight: 500;
    color: #5f27ae;
    background-color: #EEEEEE;
    border: none;
    outline: none;
}

#inputTime::placeholder {
    color: rgba(224, 224, 224, 0.6);
    font-style: italic;
}

#saveSettings {
    margin-top: 130px;
    font-size: 50px;
    background-color: #4CAF50;
    color: white;
}

#cancelSettings {
    margin-top: 38px;
    font-size: 50px;
    background-color: #f44336; /* Red for Cancel */
    color: white;
}


@media (max-width: 1012px) {
    .navbar {
        font-size: 20px;
    }
}

@media (max-width: 860px) {
    .navbar {
        display: none;
    }
    .navbar a {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .sidebar a {
        display: flex;
    }
}




